*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: unset;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 150px 1fr 100px;
    margin: 0px 200px 0px 200px;
    /* font-family: 'Righteous', cursive; */
    background-image: url(./img/background.jpg)
}

header{
    display: grid;
}

h1{
    display: flex;
    place-items: center;
    place-content: center;
    gap: 10px;
}

.pt2{
    color: maroon;
}

main{
    display: grid;
    grid-template-rows: 4fr 2fr;
    row-gap: 24px;
}

.faixa__principal{
    display: grid;
    grid-template-areas: 
    "principal secundaria"
    "principal secundaria";
    gap: 24px;
    grid-template-columns: 600px 1fr;
}

.img__principal{
    grid-area: principal;
    place-items: center;
    transform: translate(-10%);

}

.img__secundaria{
    grid-area: secundaria;
    display: grid;
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
    column-gap: 20px;
    row-gap: 20px;
}

.img1{

    grid-area: img1;
    transform: translate(-20%);

}

.img2{
   
    grid-area: img2;
    transform: translate(-20%);

}

.img3{
    
    grid-area: img3;
    transform: translate(-20%);

}

.img4{
    
    grid-area: img4;
    transform: translate(-20%);


}

.faixa__secundaria{
    
}

.ver__mais{
    border-radius: 50px;
    background-color: black;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver__mais p{
    color: white;
    text-decoration: none;
}
.faixa__secundaria{
    display: grid;
    column-gap: 24px;
    grid-template-columns: 2fr 2fr 3fr;

}

.img5{
    background-image: url(./img/FOTO\ 5.jpg);
    background-size: 115%;
}

.img6{
    background-image: url(./img/FOTO\ 6.jpg);
    background-size: 115%;
}

.img7{
    background-image: url(./img/FOTO\ 7.jpg);
    background-size: 95%;
}


}footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
